body {
  margin-top: 10%;
  background-color: white;
  font-family: 'Roboto', sans-serif; }

.heading {
  font-weight: bold; }

.body__container {
  height: 100vh;
  width: 100%; }

.orange__background {
  height: 200px;
  width: 80%;
  background-color: #F57F31;
  margin: 5% 10% 0 10%;
  position: absolute;
  border-radius: 25px; }

.user__tag--container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 50px;
  width: 100%;
  align-items: center;
  height: 200px;
  box-sizing: border-box;
  float: inline-start; }

.slick-slide {
  width: 100%; }

.user__tag {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 20px 40px 30px 60px;
  width: 300px;
  height: 200px;
  position: relative;
  margin: 20vh 0 0 50vh;
  background-color: #f2f2f2;
  border: 2px solid #fac011;
  border-radius: 25px;
  padding-right: 10px;
  background-repeat: repeat-x; }

.slick-initialized .slick-slide {
  width: 100%;
  box-sizing: border-box; }

.user__tag--photo {
  /* Oval */
  position: absolute;
  left: 8%;
  right: 0%;
  top: -10%;
  bottom: 40%;
  width: 50px;
  grid-row: 1; }

.user__tag--name {
  grid-column: 1;
  grid-row: 2;
  margin: 20px 20px 0 20px;
  height: 15px;
  font-weight: 500;
  color: #F57F31; }

.user__tag--rating {
  grid-column: 2;
  grid-row: 2;
  margin: 20px 20px 0 20px;
  height: 15px; }

.user__tag--subheading {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 0 20px;
  height: 15px;
  font-weight: 400; }

.content__container {
  width: 290px;
  grid-column: 1 / span 2;
  grid-row: 4; }

.content {
  font-size: 14px;
  width: 235px;
  margin: 0 20px 0 20px;
  font-weight: 300;
  line-height: 1.6; }
